body{
    background:url('/img/login-background.jpg') no-repeat;
    background-size:100% 100%;
    padding-top: 200px;
    overflow-x:hidden;
}
.row{
    margin-top: 20px;
}
#login-btn{
    width: 54.4%;
    margin-left: 1%;
}
h2{
    margin-left: 10px;
}

#clear-loginName-btn{
    cursor:pointer;
}
#clear-password-btn{
    cursor:pointer;
}
