<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="common/common::commonHeader('商品列表')"></div>
        <link rel="stylesheet" type="text/css" th:href="@{/css/goods_list.css}"/>
    </head>
    <body>
        <div id="miaoshagoods-list-module" class="panel panel-default">
            <div class="panel-heading">秒杀商品列表</div>
            <table id="goodslist" class="table table-hover">
                <tr>
                    <td>商品名称</td>
                    <td>商品图片</td>
                    <td>商品原价</td>
                    <td>秒杀价</td>
                    <td>库存数量</td>
                    <td>详情</td>
                </tr>
                <tr th:each="miaoshaGoods,miaoshaGoodsStat : ${miaoshaGoodsVOList}">
                    <td th:text="${miaoshaGoods.goodsName}"></td>
                    <td ><img id="goods-img" th:src="@{${miaoshaGoods.goodsImg}}"/></td>
                    <td th:text="${miaoshaGoods.goodsPrice}"></td>
                    <td th:text="${miaoshaGoods.miaoshaPrice}"></td>
                    <td th:text="${miaoshaGoods.stockCount}"></td>
                    <td><a th:href="'/miaoShaGoods/to_detail/'+${miaoshaGoods.goodsId}">详情</a></td>
                 </tr>
            </table>
        </div>
    </body>
</html>
