<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="common/common::commonHeader('商品详情')"></div>
        <script type="text/javascript" th:src="@{/js/goods_detail.js}"></script>
    </head>
    <body>
        <div class="panel panel-default">
          <div class="panel-heading">秒杀商品详情</div>
          <div class="panel-body">
            <span th:if="${miaoshaUser eq null}"> 您还没有登录，请登陆后再操作<br/></span>
            <span>没有收货地址的提示。。。</span>
          </div>
          <table id="good-detail" class="table">
            <tr>
                <td>商品名称</td>
                <td colspan="3" th:text="${miaoshaGoodVO.goodsName}"></td>
             </tr>
             <tr>
                <td>商品图片</td>
                <td colspan="3"><img th:src="@{${miaoshaGoodVO.goodsImg}}" width="200" height="200" /></td>
             </tr>
             <tr>
                <td>秒杀开始时间</td>
                <td th:text="${#dates.format(miaoshaGoodVO.startDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td id="miaoshaTip">
                    <input type="hidden" id="remainSeconds" th:value="${remainSeconds}" />
                    <span th:if="${miaoshaStatus eq 0}">秒杀倒计时：<span id="countDown" th:text="${remainSeconds}"></span>秒</span>
                    <span th:if="${miaoshaStatus eq 1}">秒杀进行中</span>
                    <span th:if="${miaoshaStatus eq 2}">秒杀已结束</span>
                </td>
                <td>
                    <input type="hidden" id="goodsId" name="goodsId" th:value="${miaoshaGoodVO.goodsId}"/>
                    <button id="buy-btn" class="btn btn-primary btn-block">立即秒杀</button>
                </td>
             </tr>
             <tr>
                <td>商品原价</td>
                <td colspan="3" th:text="${miaoshaGoodVO.goodsPrice}"></td>
             </tr>
              <tr>
                <td>秒杀价</td>
                <td colspan="3" th:text="${miaoshaGoodVO.miaoshaPrice}"></td>
             </tr>
             <tr>
                <td>库存数量</td>
                <td colspan="3" th:text="${miaoshaGoodVO.stockCount}"></td>
             </tr>
          </table>
        </div>
    </body>
</html>
